# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Env
.venv/
env/
venv/
ENV/

# Streamlit / uploads
uploads/
*.sqlite3

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Temp / logs
*.log
